<div class="container">
    <div class="row">
        <div class="col">
            <app-player></app-player>
            <app-producer-controls 
                [showControls]="showControls"
                (pausePlay)="this.onPausePlayer($event)"
                (newSample)="this.onNewSamplePoint()"
                (resetSample)="this.onResetSamples()">
            </app-producer-controls>
            <div class="file-controls">
                <div class="form-group">
                    <label for="uploadFile">Upload File</label>
                    <input id="uploadFile" type="file" #fileSource />
                </div>
                <button class="btn btn-primary" (click)="loadSource()">Load Source</button>
            </div>
            <app-recorder
                (newSample)="this.onNewSamplePoint()"
            >
            </app-recorder>
        </div>
        <div class="col">
            <app-sample-points 
                *ngIf="samples.length > 1"
                [samples]="samples">
            </app-sample-points>
        </div>
    </div>