<ul class="list-group scroll-v">
    <li class="list-group-item">
        <div class="row">
            <div class="col-1">
                <button (click) = "decreaseTime()" class="btn-sm btn btn-primary">-</button>
            </div>
            <div class="col-4">
                <span> Point {{ index }}</span>
            </div>
            <div class="col-1">
                <button (click) = "increaseTime()" class="btn-sm btn btn-primary">+</button>
            </div>
            <div class="col-2">
                <button class="btn-sm btn btn-light" (click)="playSection()">Play</button>
                <button class="btn-sm btn btn-danger" (click)="deleteSection()">D</button>
            </div>
        </div>
    </li>
</ul>